.login-box, .register-box {
    width: 440px;
}
.register-wrapper, .register-box {
    background-image: linear-gradient(to bottom, rgba(60, 141, 188, 0.5), rgba(255, 255, 255, 0.5)),
    url("./../../../../assets/img/ocr.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;   
}